* {
    padding: 0;
    margin: 0;
    border: 0;
}
ul li {
    list-style: none;
}
.title {
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    position: relative;
    padding-left: 140px;
}
.title span {
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    left: 0;
    top: 13px;
    background: #005bc1;
}
.title span:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    right: 0;
    top: 12px;
    background: #005bc1;
}
.header {
    position: fixed;
    background: rgba(0, 91, 193, 0.6);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    height: 80px;
}
.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
.header__logo {
    position: absolute;
    z-index: 3;
    left: 2.08%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 140px;
    height: 58px;
}
.header__logo image {
    width: 100%;
    height: 100%;
}
.header__logo img {
    width: 100%;
    height: 100%;
}
.header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 2;
}
.header__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    margin-left: 26px;
}
.header__link--home {
    margin-left: 0;
}
.main {
    position: relative;
    background: url(../img/main.webp) center center no-repeat;
    background-size: cover;
    height: 800px;
}
.main__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 1110px;
    height: 100%;
}
.main__inner:before {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    width: 40%;
    height: calc(100% - 80px);
    background: rgba(0, 91, 193, 0.6);
}
.main__content {
    position: absolute;
    padding-left: 190px;
    top: 35%;
}
.main__content-title {
    width: 635px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.01em;
    color: #fff;
    margin-bottom: 40px;
}
.main__content-suptitle {
    width: 445px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    margin-bottom: 40px;
}
.main__content-btn {
    display: inline-block;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #fff;
    padding: 15px 40px;
    border: 2px solid #fff;
}
.projects {
    padding: 156px 0 0 0;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
.projects__title {
    margin-bottom: 70px;
}

.projects .slider {
    margin: 0 -15px;
}
.projects .slider__box {
    position: relative;
    padding: 0 15px;
}
.projects .slider__box-image {
    padding-left: 1px;
}
.projects .slider__box-img {
    width: 540px;
    height: 400px;
}
.projects .slider__box-content {
    position: absolute;
    bottom: 35px;
    right: 35px;
    width: 250px;
    height: 110px;
    background: #fff;
    padding: 20px 0 0 25px;
}
.projects .slider__box-title {
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin-bottom: 14px;
}
.projects .slider__box-text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
}
.production {
    padding: 150px 0 0 0;
}
.production__title {
    margin-bottom: 70px;
}
.production__btns {
    margin-bottom: 55px;
    text-align: center;
}
.production__btn {
    display: inline-block;
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin: 0 15px;
    position: relative;
}
.production__btn:focus {
    color: #005bc1;
}
.production__btn:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -6px;
    background: #005bc1;
    -webkit-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}
.production__btn:focus:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -6px;
    background: #005bc1;
}
.production__boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px;
}
.production__box {
    padding: 0 15px;
    position: relative;
}
.production__box-img {
    width: 100%;
    height: auto;
}
.production__box-content {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 265px;
    height: 86px;
    background: #005bc1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 21px;
}
.production__box-text {
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
}
@media (max-width: 1450px) {
    .header {
        height: 70px;
    }
    .header__logo {
        width: 133px;
        height: 53px;
    }
    .main {
        height: 600px;
    }
    .main__inner {
        width: 850px;
    }
    .main__inner:before {
        top: 70px;
        height: calc(100% - 70px);
    }
    .main__content {
        padding-left: 140px;
    }
    .main__content-title {
        width: 550px;
        line-height: 60px;
        font-size: 40px;
        margin-bottom: 30px;
    }
    .main__content-suptitle {
        width: 445px;
        line-height: 20px;
        font-size: 15px;
        margin-bottom: 30px;
    }
    .main__content-btn {
        font-size: 15px;
        letter-spacing: 0;
        padding: 12px 30px;
    }
    .projects {
        padding: 120px 0 0 0;
    }
    .container {
        max-width: 900px;
    }
    .projects .slider__box-img {
        width: 440px;
        height: 315px;
    }
    .production {
        padding: 120px 0 0 0;
    }
    .production__title {
        margin-bottom: 50px;
    }
    .production__btns {
        margin-bottom: 40px;
    }
    .production__btn {
        margin: 0 12px;
        font-size: 20px;
        line-height: 30px;
    }
    .production__boxes {
        margin: 0 -10px;
    }
    .production__box {
        padding: 0 10px;
    }
    .production__box-content {
        width: 245px;
        height: 80px;
        padding-left: 15px;
    }
    .production__box-text {
        font-size: 16px;
        line-height: 22px;
    }
}
@media (max-width: 991px) {
    .header {
        height: 60px;
    }
    .header__logo {
        width: 101px;
        height: 39px;
    }
    .header__link {
        font-size: 12px;
        margin-left: 30px;
    }
    .main {
        height: 500px;
    }
    .main__inner {
        width: 768px;
    }
    .main__inner:before {
        top: 60px;
        height: calc(100% - 60px);
    }
    .main__content {
        padding-left: 130px;
    }
    .main__content-title {
        width: 450px;
        line-height: 44px;
        font-size: 32px;
        margin-bottom: 20px;
    }
    .main__content-suptitle {
        width: 445px;
        line-height: 18px;
        font-size: 14px;
        margin-bottom: 30px;
    }
    .main__content-btn {
        font-size: 14px;
        padding: 10px 25px;
    }
    .projects {
        padding: 60px 0 0 0;
    }
    .container {
        max-width: 720px;
    }
    .projects__title {
        margin-bottom: 30px;
    }
    .projects .slider {
        margin: 0 -10px;
    }
    .projects .slider__box {
        padding: 0 10px;
    }
    .projects .slider__box-img {
        width: 359px;
        height: 259px;
    }
    .projects .slider__box-content {
        width: 220px;
        bottom: 20px;
        right: 20px;
        height: 90px;
        padding: 15px 0 0 20px;
    }
    .projects .slider__box-title {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .projects .slider__box-text {
        font-size: 12px;
        line-height: 15px;
    }
    .production {
        padding: 60px 0 0 0;
    }
    .production__title {
        margin-bottom: 30px;
    }
    .production__btns {
        margin-bottom: 30px;
    }
    .production__btn {
        margin: 0 10px;
        font-size: 16px;
        line-height: 30px;
    }
    .production__btn:focus:after {
        bottom: 0;
    }
    .production__boxes {
        margin: 0 -5px;
    }
    .production__box {
        padding: 0 5px;
    }
    .production__box-content {
        right: 5px;
        width: 185px;
        height: 60px;
        padding-left: 10px;
    }
    .production__box-text {
        font-size: 14px;
        line-height: 18px;
    }
}
@media (max-width: 768px) {
    .header {
        height: 50px;
    }
    .header {
        margin-top: 0;
    }
    .header.bege:before {
        background-color: #005bc1;
        z-index: 2;
    }
    .header__logo {
        width: 101px;
        height: 39px;
    }
    .header__menu {
        position: fixed;
        left: 0;
        top: -100%;
        width: 100%;
        height: 50%;
        overflow: auto;
        background-color: rgba(0, 91, 193, 0.85);
        padding: 70px 0 20px 0;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    .header__menu.active {
        top: 0;
    }
    .header__list {
        display: block;
        width: 100%;
    }
    .header__list li {
        margin: 0 0 25px 0;
        text-align: center;
    }
    .header__link {
        font-size: 20px;
        margin-left: 0;
    }
    .main {
        height: 400px;
    }
    .main__inner {
        width: 100%;
    }
    .main__inner:before {
        top: 50px;
        height: calc(100% - 50px);
    }
    .main__content {
        padding-left: 45px;
    }
    .main__content-title {
        width: 100%;
        line-height: 36px;
        font-size: 26px;
        margin-bottom: 25px;
    }
    .main__content-suptitle {
        width: 80%;
        line-height: 18px;
        font-size: 14px;
        margin-bottom: 25px;
    }
    .main__content-btn {
        font-size: 12px;
    }
    .projects {
        padding: 30px 0 0 0;
    }
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
    .projects__title {
        margin-bottom: 15px;
    }
    .projects .slider {
        margin: 0 -5px;
    }
    .projects .slider__box {
        padding: 0 5px;
    }
    .projects .slider__box-img {
        width: 100%;
        height: auto;
    }
    .production {
        padding: 30px 0 0 0;
    }
    .production__title {
        margin-bottom: 15px;
    }
    .production__btns {
        margin-bottom: 20px;
    }
    .production__btn {
        margin: 0 8px;
    }
    .production__boxes {
        margin: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .production__box {
        padding: 0;
        margin-bottom: 15px;
    }
    .production__box-content {
        right: 5px;
        width: 265px;
        height: 87px;
        padding-left: 10px;
    }
    .production__box-text {
        font-size: 18px;
        line-height: 27px;
    }
}
